
@page "/appointment/appointmenteditappointment/{appointmentId}"
@inject IModalService modal
@inject NavigationManager NavManager
@inject HttpClient HttpClient
@inject NavigationManager UriHelper
@using Microsoft.AspNetCore.Components.Routing;
@using System.ComponentModel.DataAnnotations;
@using UI.Models;
@using UI.DateTimeSlotHelper;
@inject LocalStorage.ILocalStorageService localStorage;
@using Newtonsoft.Json;

@if (_loading)
{
    <h3>Loading Up Appointment Slots...</h3>
}
else
{
    <div class="col py-3 px-lg-5 border bg-light">
        New Appointment Date: <SfDatePicker TValue="DateTime?" @bind-Value="@SelectedDate" Placeholder="Select a Date" Min="@MinDate" Max="@MaxDate">
            <DatePickerEvents TValue="DateTime?" ValueChange="DateSelectedHandler"></DatePickerEvents>
        </SfDatePicker>
    </div>

    if (SelectedDate != null)
    {

        <div class="col py-3 px-lg-5 border bg-light">
            Available Time: <SfDropDownList TItem="AvailableSlots" TValue="int?" @bind-Value="@SlotValue" DataSource="@selectedDateSlotList" Placeholder="Select a Time">
                <DropDownListFieldSettings Text="Time" Value="SlotId"></DropDownListFieldSettings>
            </SfDropDownList>
        </div>


    }

    <div class="col py-3">
        <button class="btn btn-primary" @onclick="NavigateBook">Book</button>
        <button class="btn btn-secondary" @onclick="NavigateCancel">Cancel</button>
    </div>
}

@code
{
    [Parameter]
    public string appointmentId { get; set; }

    //public string _appointmentId;

    public string appointmentDate { get; set; }

    public int AppointmentSlotId { get; set; }

    public string appointmentType { get; set; }

    public string agencyId { get; set; }

    public string queueNo { get; set; }


    public AppointmentDetails currentAppointmentdetails { get; set; }
    public IList<AvailableSlots> availableSlotList { get; set; }
    public IList<AvailableSlots> selectedDateSlotList { get; set; }
    public IList<Agency> AgencyList { get; set; }


    protected override async void OnInitialized()
    {

        var apptid = Guid.Parse(appointmentId);

        AppointmentDetails currentAppointmentdetails = new AppointmentDetails();

        var response = await HttpClient.PostAsJsonAsync("https://localhost:44351/api/appointment/GetAppointmentByAppointmentId", apptid);
        {
            if (response != null)
            {
                string content = await response.Content.ReadAsStringAsync();
                var resultList = JsonConvert.DeserializeObject<AppointmentDetails>(content);
                currentAppointmentdetails = resultList;
                appointmentType = resultList.AppointmentType.ToString();
                appointmentDate = resultList.AppointmentDate.ToString();
                AppointmentSlotId = resultList.AppointmentSlotId;
                AgencyValue = resultList.AgencyId;
                TypeValue = resultList.AppointmentType;

            }
        }
        // The URL string needs to point to Staff API Controller
        var responseAgencyInfo = await HttpClient.GetAsync("https://localhost:44310/api/appointment/getagencyinfolist");
        if (responseAgencyInfo != null)
        {
            string content = await responseAgencyInfo.Content.ReadAsStringAsync();
            var results = JsonConvert.DeserializeObject<List<Agency>>(content);
            AgencyList = results;
            this.StateHasChanged();

        }
    }


    private bool _loading;
    private string errorMessage;


    public DateTime? SelectedDate { get; set; } = null;
    public int SelectedSlot { get; set; }
    public int? SlotValue;
    public int? TypeValue;
    public int? AgencyValue;
    public int? ConcurrentUser;


    // set min & max dates
    public DateTime MinDate { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day);
    public DateTime MaxDate { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month + 1, DateTime.Now.Day);


    // set location list
    public class LocationData
    {
        public string Name { get; set; }
        public string Id { get; set; }
    }

    public class Agency
    {
        public string AgencyName { get; set; }
        public int AgencyId { get; set; }
        public string AgencyPin { get; set; }
        public string Location { get; set; }
        public int PhysicalConcurrentUser { get; set; }
        public int VirtualConcurrentUser { get; set; }

    }



    private async void DateSelectedHandler()
    {
        foreach (var agency in AgencyList)
        {
            if (agency.AgencyId == AgencyValue)
            {
                if (TypeValue == 1)
                {
                    ConcurrentUser = agency.PhysicalConcurrentUser;
                    break;
                }
                if (TypeValue == 2)
                {
                    ConcurrentUser = agency.VirtualConcurrentUser;
                    break;
                }
            }
        }

        DateTimeSlotHelper dateTimeSlotHelper = new DateTimeSlotHelper();
        UserAgencyInput userAgencyInput = new UserAgencyInput();
        userAgencyInput.AgencyId = AgencyValue;
        userAgencyInput.AppointmentTypeId = TypeValue;
        userAgencyInput.SelectedDate = SelectedDate;
        userAgencyInput.ConcurrentUser = ConcurrentUser;
        selectedDateSlotList = new List<AvailableSlots>();
        var response = await HttpClient.PostAsJsonAsync("https://localhost:44351/api/appointment/getavailableappointment", userAgencyInput);
        if (response != null)
        {
            var content = await response.Content.ReadAsStringAsync();
            var resultList = JsonConvert.DeserializeObject<List<AvailableSlots>>(content);
            List<AvailableSlots> listOfNewAvailableSlots = new List<AvailableSlots>();
            foreach (var result in resultList)
            {

                AvailableSlots availableSlots = new AvailableSlots() { Date = result.Date, Time = dateTimeSlotHelper.GetTimebySlot(result.SlotId), SlotId = result.SlotId };
                selectedDateSlotList.Add(availableSlots);


            }
        }

    }

    private async void NavigateBook()
    {
        if (SelectedDate == null || SlotValue == null)
        {
            errorMessage = "Please Select a Valid Option from the dropdown selection.";
            this.StateHasChanged();
        }
        else
        {
            DateTimeSlotHelper dateTimeSlotHelper = new DateTimeSlotHelper();
            //var appointmentTime = dateTimeSlotHelper.GetTimebySlot(AppointmentSlotId);
            EditAppointmentDetails editAppointment = new EditAppointmentDetails();
            var apptid = Guid.Parse(appointmentId);
            editAppointment.AppointmentId = apptid;
            editAppointment.AppointmentDate = SelectedDate ?? default(DateTime);
            editAppointment.AppointmentSlotId = SlotValue ?? default(int);
            var response = await HttpClient.PostAsJsonAsync("https://localhost:44351/api/appointment/editappointmentdateandslot", editAppointment);
            if (response != null)
            {
                if (response.IsSuccessStatusCode)
                {
                    string content = await response.Content.ReadAsStringAsync();
                    var results = JsonConvert.DeserializeObject<bool>(content);
                    if (results == true)
                    {
                        NavManager.NavigateTo($"/appointment/appointmentviewallappointment/");
                    }
                }
            }

            ;
        }
    }

    private void NavigateCancel()
    {
        NavManager.NavigateTo("/appointment/appointmentviewallappointment/");
    }



}
